@{
    ViewBag.Title = "index";
}

<h2>Admin</h2>

<div style="height:50px;">
    @Html.ActionLink("Return to Login page", "Index", "Connection")
</div>

<div style="height:50px;">
    @Html.ActionLink("Person Manage", "Index", "Person")
</div>

<div style="height:50px;">
    @Html.ActionLink("Activity Manage", "Index", "Activity")
</div>


